.loading-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: transparent; 
}

.loading-icon {
  width: 200px; 
  height: 150px; 
}
