.react-flow__background {
    background-color: #181818;
}

.react-flow__attribution {
    background: none;
}

.react-flow__attribution a {
    color: #ffffff;
}

.react-flow__controls {
    background-color: #303030;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.62);
}

.react-flow__controls-button {
    background-color: #303030;
    fill: #ffffff;
    border-radius: 5px;
    border-bottom: none;
}

.react-flow__controls-button:hover {
    background-color: #545454;
}
