.stack_structure_container0116 {
  /*POSITION*/
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 4px;

  /*STYLE*/
  overflow-x: hidden;
  overflow-y: hidden;
}
.stack_structure_item0116 {
  /*POSITION*/
  width: 256px;
  height: 100%;
  position: relative;

  /*STYLE*/
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
}
.stack_structure_code_editor0122 {
  /*POSITION*/
  height: 100%;
  position: relative;

  /*STYLE*/
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
}
.stack_structure_explorer0122 {
  /*POSITION*/
  position: relative;
  height: 100%;

  border-radius: 6pt;
  box-sizing: border-box;
  background-color: #1e1e1e;
}
.stack_structure_item_overlay0122 {
  /*POSITION*/
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;

  /*STYLE*/
  border-radius: 4px;
  background-color: #838383;
  opacity: 0.16;

  pointer-events: none;
}
.stack_structure_label0116 {
  transition: all 0.12s ease;
  /*POSITION*/
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;

  padding: 13px;

  /*STYLE*/
  background-color: #292929;
  color: #181818;
  font-weight: bold;
  font-size: 72pt;
  font-family: "Roboto Mono", monospace;
  line-height: 64px;
}
.stack_structure_resizer0122 {
  transition: all 0.32s ease;

  /*POSITION*/
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 50px;
  width: 5px;

  /*STYLE*/
  border-radius: 4px;
  background-color: #292929;
  cursor: ew-resize;
}
.stack_structure_resizer0122:active {
  transition: all 0.32s ease;

  /*POSITION*/
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 100%;
  width: 5px;

  /*STYLE*/
  border-radius: 4px;
  background-color: #0078d4;
  cursor: ew-resize;
}
.stack_structure_resizer_hover0122 {
  transition: all 0.32s ease;

  /*POSITION*/
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 100%;
  width: 5px;

  /*STYLE*/
  border-radius: 4px;
  background-color: #0078d4;
  cursor: ew-resize;
}
.stack_structure_resizer_onDragOver0122 {
  transition: all 0.16s ease;

  /*POSITION*/
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 256px;
  width: 5px;

  /*STYLE*/
  border-radius: 4px;
  background-color: #292929;
  cursor: ew-resize;
}
