#dir_list_component_container0725 {
  transition: all 0.04s ease;

  /*POSITION*/
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0pt;
  transform: translate(0%, 0%);
  margin: 0pt 0pt 0pt 0pt;
  padding: 6pt 0pt 0pt 4pt;

  /*SIZE*/
  height: wrap-content;
  max-height: 100%;
  box-sizing: border-box;

  /*STYLE*/
  overflow-y: scroll;
  overflow-x: hidden;

  animation-timing-function: linear;
  animation: dir_list_component_container_appear_animation 1.6s;
}
#dir_list_component_container_hided0725 {
  /*POSITION*/
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0pt;
  transform: translate(0%, -50%);
  margin: 0pt 0pt 0pt 32pt;

  /*SIZE*/
  height: wrap-content;
  max-height: 100%;
  box-sizing: border-box;

  /*STYLE*/
  overflow-y: scroll;
  overflow-x: hidden;
  opacity: 0;
}
#dir_list_component_container_resizer0725 {
  /*POSITION*/
  position: absolute;
  right: 0pt;
  bottom: 0pt;

  /*SIZE*/
  width: 24pt;

  /*STYLE*/
  cursor: col-resize;
  background-color: rgb(212, 212, 212);
}
#dir_list_component_container0725::-webkit-scrollbar {
  width: 6pt;
}
#dir_list_component_container0725::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4pt;
}
#dir_list_component_container0725::-webkit-scrollbar-thumb {
  background: #2f3133;
  border-radius: 4pt;
}
#dir_list_component_container0725::-webkit-scrollbar-thumb:hover {
  background: #494d53;
  box-shadow: 0px 2px 16px 2px rgba(0, 0, 0, 0.16);
  border-radius: 4pt;
}
#dir_list_component_container_expanded0725::-webkit-scrollbar {
  width: 4pt;
}
#dir_list_component_container_expanded0725::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 2pt;
}
#dir_list_component_container_expanded0725::-webkit-scrollbar-thumb {
  background: #2f3133;
  border-radius: 2pt;
}
#dir_list_component_container_expanded0725::-webkit-scrollbar-thumb:hover {
  background: #494d53;
  box-shadow: 0px 2px 16px 2px rgba(0, 0, 0, 0.16);
  border-radius: 4pt;
}
#dir_list_component_container0725::-webkit-scrollbar-corner {
  background: transparent;
}
