/*Editor Container*/
.code_editor_container1113 {
  /*POSITION*/
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  /*STYLE*/
  border-radius: 8px;
  padding: 44px 6px 6px 6px;

  box-sizing: border-box;
  overflow: hidden;
  background-color: #1e1e1e;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/*Editor Top Section ------------------------------------------ */

/*Editor Top Right Container*/
.code_editor_top_right_section1113 {
  /*POSITION*/
  width: 100%;
  height: 42px;
  position: absolute;
  top: 0%;
  right: 0%;

  /*STYLE*/
  box-sizing: border-box;
}
.code_editor_close_icon1113 {
  transition: all 0.2s ease;

  /*POSITION*/
  width: 12px;
  height: 12px;
  position: absolute;
  top: 5px;
  right: 5px;

  /*STYLE*/
  border-radius: 4px;
  padding: 9px;
}
.code_editor_close_icon1113:hover {
  transition: all 0.2s ease;

  /*STYLE*/
  background-color: #2e2e2e;
  box-shadow: 0px 4px 12px 4px rgba(0, 0, 0, 0.16);
}
.code_editor_close_icon1113:active {
  transition: all 0.1s ease;

  /*STYLE*/
  background-color: #444444;
}

/*Editor Bar Container*/
.file_selection_bar_container1114 {
  transition: all 0.32s ease;
  /*POSITION*/
  display: flex;
  position: absolute;
  left: 6px;
  right: 42px;
  top: 0%;
  height: 42px;

  /*STYLE*/
  overflow-y: hidden;
}
.file_selection_bar_container1114::-webkit-scrollbar {
  height: 4px;
}
.file_selection_bar_container1114::-webkit-scrollbar-track {
  background: transparent;
}
.file_selection_bar_container1114::-webkit-scrollbar-thumb {
  background: #3a3a3a;
}
.file_selection_bar_container1114::-webkit-scrollbar-thumb:hover {
  background: #4d4d4d;
}
/*Editor Bar Container Vertical*/
.file_selection_bar_container_vertical0122 {
  transition: all 0.32s ease;
  /*POSITION*/
  position: absolute;
  left: 1px;
  top: 36px;
  right: 0px;
  bottom: 5px;

  display: flex;
  flex-direction: column;

  /*STYLE*/
  overflow-y: scroll;
  overflow-x: hidden;
}
.file_selection_bar_container_vertical0122::-webkit-scrollbar {
  width: 3px;
}
.file_selection_bar_container_vertical0122::-webkit-scrollbar-track {
  background: transparent;
}
.file_selection_bar_container_vertical0122::-webkit-scrollbar-thumb {
  background: #3a3a3a;
  border-radius: 2px;
}
.file_selection_bar_container_vertical0122::-webkit-scrollbar-thumb:hover {
  background: #4d4d4d;
}

/*Editor File Selection Bar Item*/
.file_selection_bar_item1114 {
  transition: all 0.16s ease;

  /*POSITION*/
  height: 30px;
  position: relative;

  flex: 0 0 auto;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;

  /*STYLE*/
  background-color: #252525;
  color: white;
  border-radius: 4px;
  margin: 5px 6px 4px 0px;
}
.file_selection_bar_item1114:hover {
  transition: all 0.2s ease;
  background-color: #2e2e2e;
}
.file_selection_bar_item_selected1114 {
  transition: all 0.16s ease;

  /*POSITION*/
  height: 30px;
  position: relative;

  flex: 0 0 auto;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;

  /*STYLE*/
  background-color: #323232;
  color: white;

  border-radius: 4px;
  margin: 5px 6px 4px 0px;
}
.file_selection_bar_file_text1114 {
  /*POSITION*/
  position: relative;
  top: -3px;
  padding: 0px 12px 0px 0px;

  /*SIZE*/
  font-size: 14px;
  color: #cccccc;

  pointer-events: none;
}
.file_selection_bar_item_filetype_icon1114 {
  /*POSITION*/
  position: relative;
  padding: 7px 7px 0px 7px;

  /*SIZE*/
  width: 16px;
  height: 16px;

  pointer-events: none;
}
.file_selection_bar_item_close_icon1114 {
  transition: all 0.2s ease;

  /*POSITION*/
  position: relative;

  top: 2px;
  right: 5px;
  padding: 5px;

  /*SIZE*/
  width: 10px;
  height: 10px;
  border-radius: 2px;

  opacity: 1;
}
.file_selection_bar_item_close_icon1114:hover {
  transition: all 0.2s ease;

  /*STYLE*/
  background-color: #5c5c5c;
}
.file_selection_bar_item_close_icon1114:active {
  transition: all 0.2s ease;

  /*STYLE*/
  background-color: #838383;
}

/*Editor File Selectio Bar Item Vertical*/
.file_selection_bar_item_vertical0123 {
  transition: all 0.16s ease;

  /*POSITION*/
  width: 30px;
  position: relative;

  /*STYLE*/
  background-color: #252525;
  color: white;
  overflow: hidden;

  border-radius: 4px;
  margin: 4px;
}
.file_selection_bar_item_vertical0123:hover {
  transition: all 0.2s ease;
  background-color: #2e2e2e;
}
.file_selection_bar_item_selected_vertical0123 {
  transition: all 0.16s ease;

  /*POSITION*/
  width: 30px;
  position: relative;

  /*STYLE*/
  background-color: #323232;
  color: white;
  overflow: hidden;

  border-radius: 4px;
  margin: 4px;
}
.file_selection_bar_item_filetype_icon_vertical0123 {
  /*POSITION*/
  position: absolute;
  padding: 7px 0px 0px 7px;

  /*SIZE*/
  width: 16px;
  height: 16px;

  pointer-events: none;
}
.file_selection_bar_file_text_vertical0123 {
  /*POSITION*/
  transform: rotate(90deg);
  transform-origin: top left;
  position: absolute;
  top: 29px;
  left: 26px;

  /*SIZE*/
  max-width: 128px;
  font-size: 14px;
  color: #cccccc;
  overflow: hidden;

  pointer-events: none;
}
.file_selection_bar_item_close_icon_vertical0123 {
  transition: all 0.2s ease;

  /*POSITION*/
  position: absolute;

  left: 5px;
  bottom: 5px;
  padding: 5px;

  /*SIZE*/
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 2px;
}
.file_selection_bar_item_close_icon_vertical0123:hover {
  transition: all 0.2s ease;

  /*STYLE*/
  background-color: #5c5c5c;
}
.file_selection_bar_item_close_icon_vertical0123:active {
  transition: all 0.2s ease;

  /*STYLE*/
  background-color: #838383;
}
/*Editor Top Section ------------------------------------------ */
