frontend_application/component_lib_testing_application/node_modules
frontend_application/component_lib_testing_application/node_modules/*
frontend_application/component_lib_testing_application/node_modules/**/*

backend_service/file_service/node_modules
backend_service/file_service/node_modules/*
backend_service/file_service/node_modules/**/*

*/node_modules/*
**/node_modules/*

backend_services/file_service/.env
backend_services/code_services/codeServicesEnv
backend_services/code_services/models