version: "3.9"
services:
  component_lib_testing_application:
    build: ./frontend_application/component_lib_testing_application
    container_name: component_lib_testing_application_container
    ports:
      - "5000:5000"
    stdin_open: true
    tty: true
    environment:
      - PORT=5000

  backend_file_services:
    build: ./backend_services/file_services
    container_name: backend_file_services_container
    ports:
      - "8000:8000"
    environment:
      - PORT=8000

  backend_code_services:
    build: ./backend_services/code_services
    container_name: backend_code_services_container
    ports:
      - "8200:8200"
    environment:
      - PORT=8200
