.vector_editor_container1116 {
  position: absolute;
  left: 216pt;
  top: 8pt;
  right: 8pt;
  bottom: 8pt;
  overflow: hidden;
}
.explorer_container1116 {
  position: absolute;
  width: 200pt;
  top: 8pt;
  left: 8pt;
  bottom: 8pt;

  border: 6pt solid #1e1e1e;
  border-radius: 6pt;

  box-sizing: border-box;
  background-color: #1e1e1e;
}
