#rightClickContextMenu_component_container0802 {
  /*POSITION*/
  position: fixed;
  padding: 6pt;
  z-index: 1;

  /*SIZE*/
  height: wrap-content;
  max-height: 100%;
  box-sizing: border-box;
  width: 164pt;

  /*STYLE*/
  background-color: #1e1e1e;
  border-radius: 0pt 8pt 8pt 8pt;
  box-shadow: 0px 4px 16px 8px rgba(0, 0, 0, 0.24);
  border: 2px solid #2a2d2e;
}
#rightClickContextMenu_component_container_rigttop0930 {
  /*POSITION*/
  position: fixed;
  padding: 6pt;
  z-index: 1;

  /*SIZE*/
  height: wrap-content;
  max-height: 100%;
  box-sizing: border-box;
  width: 164pt;

  /*STYLE*/
  background-color: #1e1e1e;
  border-radius: 8pt 0pt 8pt 8pt;
  box-shadow: 0px 4px 16px 8px rgba(0, 0, 0, 0.2);
  border: 2px solid #2a2d2e;
}
#rightClickContextMenu_component_container_leftbottom0930 {
  /*POSITION*/
  position: fixed;
  padding: 6pt;
  z-index: 1;

  /*SIZE*/
  height: wrap-content;
  max-height: 100%;
  box-sizing: border-box;
  width: 164pt;

  /*STYLE*/
  background-color: #1e1e1e;
  border-radius: 8pt 8pt 8pt 0pt;
  box-shadow: 0px 4px 16px 8px rgba(0, 0, 0, 0.2);
  border: 2px solid #2a2d2e;
}
#rightClickContextMenu_component_container_rightbottom0930 {
  /*POSITION*/
  position: fixed;
  padding: 6pt;
  z-index: 1;

  /*SIZE*/
  height: wrap-content;
  max-height: 100%;
  box-sizing: border-box;
  width: 164pt;

  /*STYLE*/
  background-color: #1e1e1e;
  border-radius: 8pt 8pt 0pt 8pt;
  box-shadow: 0px 4px 16px 8px rgba(0, 0, 0, 0.2);
  border: 2px solid #2a2d2e;
}