#rightClickContextMenu_component_container0802 {
  /*POSITION*/
  position: fixed;
  padding: 6pt;
  z-index: 1;

  /*SIZE*/
  height: wrap-content;
  max-height: 100%;
  box-sizing: border-box;
  width: 128pt;

  /*STYLE*/
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: #1e1e1e;
  border-radius: 0pt 8pt 8pt 8pt;
  box-shadow: 0px 4px 16px 8px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(16px);
}
