.customizeRequestForm_component_container1120 {
  /*POSITION*/
  position: relative;
  display: block;
  padding: 0px;

  /*SIZE*/
  width: 100%;

  /*STYLE*/
  font-size: 12px;
  font-family: "Roboto";
  color: #686868;
  overflow: hidden;

  animation-timing-function: linear;
  animation: customizeRequestForm_component_container_expand_animation 0.14s;
}
@keyframes customizeRequestForm_component_container_expand_animation {
  0% {
    height: 0px;
    opacity: 0;
  }
  40% {
    opacity: 0.64;
  }
  45% {
    height: 160px;
    opacity: 1;
  }
  100% {
    height: 260px;
    opacity: 1;
  }
}
.customizeRequestForm_component_title_icon0129 {
  /*POSITION*/
  position: absolute;
  display: block;
  top: 0px;
  right: 0px;
  left: 0px;
  padding: 22px 0px 0px 22px;

  /*SIZE*/
  width: 18px;
  height: 18px;

  /*STYLE*/
  font-size: 18px;
  font-family: "Jost";
  font-weight: lighter;
  letter-spacing: 0.6px;
  color: #cccccc;
}
.customizeRequestForm_component_title1120 {
  /*POSITION*/
  position: relative;
  display: block;
  top: 0px;
  right: 0px;
  left: 0px;
  padding: 22px 0px 0px 44px;

  /*STYLE*/
  font-size: 16px;
  font-family: "Jost";
  font-weight: lighter;
  letter-spacing: 0.6px;
  color: #cccccc;
}
.customizeRequestForm_component_subcontainer1120 {
  /*POSITION*/
  position: relative;
  display: block;

  /*SIZE*/
  margin: 0px;
  padding: 0px 0px 1px 22px;
  right: 0px;
  left: 0px;
  height: 36px;

  /*STYLE*/
  overflow: hidden;
}
.customizeRequestForm_component_input1120 {
  transition: all 0.08s ease;

  /*POSITION*/
  position: absolute;
  left: 22px;
  top: 15px;
  right: 22px;

  /*FONT*/
  font-size: 12px;
  font-family: "Roboto";
  letter-spacing: 0px;
  white-space: nowrap;
  color: #cccccc;

  /*SIZE*/
  height: 14px;
  padding: 2px 7px 2px 5px;

  /*STYLE*/
  background-color: #202020;
  border: 1px solid #3a3a3a;
  border-radius: 4px;
  outline: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.customizeRequestForm_component_select1120 {
  /*POSITION*/
  display: block;
  position: absolute;
  left: 22px;
  top: 15px;
  right: 22px;

  /*SIZE*/
  height: 22px;
  padding: 2px 7px 2px 5px;
  font-size: 12px;
  font-family: "Roboto";
  color: #cccccc;

  /*STYLE*/
  border-radius: 4px;
  overflow: hidden;
  background-color: #202020;
  border: 1px solid #3a3a3a;
  outline: none;
}
.customizeRequestForm_component_button1120 {
  transition: all 0.16s ease;
  /*POSITION*/
  position: absolute;
  bottom: 22px;
  left: 22px;
  right: 22px;

  /*FONT*/
  font-size: 14px;
  font-family: "Jost";
  letter-spacing: 0px;
  white-space: nowrap;
  color: #686868;

  /*SIZE*/
  height: 26px;
  padding: 2px 7px 2px 5px;
  margin: 2px 0px 2px 0px;

  /*STYLE*/
  background-color: #202020;
  border: 1px solid #3a3a3a;
  border-radius: 4px;
  outline: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.customizeRequestForm_component_button1120:hover {
  transition: all 0.16s ease;
  background-color: #2a2d2e;
  color: #cccccc;
  border: #2a2d2e;
  box-shadow: 0px 4px 12px 4px rgba(0, 0, 0, 0.08);
}
