.customizeRequestForm_component_container1120 {
  /*POSITION*/
  position: relative;
  display: block;
  padding: 0px;

  /*SIZE*/
  width: 100%;

  /*STYLE*/
  font-size: 12px;
  font-family: "Roboto";
  color: #686868;
  overflow: hidden;
}
.customizeRequestForm_component_title1120 {
  /*POSITION*/
  position: relative;
  display: block;
  top: 0px;
  right: 0px;
  left: 0px;
  padding: 16px 0px 16px 8px;

  /*STYLE*/
  font-size: 16px;
  font-family: "Roboto";
  font-weight: lighter;
  letter-spacing: 0.6px;
  color: #686868;
}
.customizeRequestForm_component_subcontainer1120 {
  /*POSITION*/
  position: relative;
  display: block;

  /*SIZE*/
  margin: 4px 0px 0px 0px;
  padding: 0px 0px 0px 8px;
  right: 0px;
  left: 0px;
  height: 46px;

  /*STYLE*/
  overflow: hidden;
}
.customizeRequestForm_component_input1120 {
  transition: all 0.08s ease;

  /*POSITION*/
  position: absolute;
  left: 8px;
  top: 15px;
  right: 8px;

  /*FONT*/
  font-size: 12px;
  font-family: "Roboto";
  letter-spacing: 0px;
  white-space: nowrap;
  color: #cccccc;

  /*SIZE*/
  height: 21px;
  padding: 2px 7px 2px 5px;

  /*STYLE*/
  background-color: #2a2d2e;
  border-radius: 2px;
  border: none;
  outline: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.customizeRequestForm_component_select1120 {
  /*POSITION*/
  display: block;
  position: absolute;
  left: 8px;
  top: 15px;
  right: 8px;

  /*SIZE*/
  height: 25px;
  padding: 2px 7px 2px 5px;
  font-size: 12px;
  font-family: "Roboto";
  color: #cccccc;

  /*STYLE*/
  border-radius: 2px;
  overflow: hidden;
  background-color: #2a2d2e;
  border: none;
  outline: none;
}
.customizeRequestForm_component_button1120 {
  transition: all 0.08s ease;
  /*POSITION*/
  position: absolute;
  bottom: 6px;
  left: 8px;
  right: 8px;

  /*FONT*/
  font-size: 13px;
  font-family: "Roboto";
  letter-spacing: 0px;
  white-space: nowrap;
  color: #cccccc;

  /*SIZE*/
  height: 32px;
  padding: 2px 7px 2px 5px;
  margin: 2px 0px 2px 0px;

  /*STYLE*/
  background-color: #2a2d2e;
  border-radius: 2px;
  border: none;
  outline: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.customizeRequestForm_component_button1120:hover {
  transition: all 0.08s ease;
  background-color: #494949;
}
