.descriptionNode {
    width: 30em;
    height: 20em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.react-flow__node-descNode {
    border: 2px solid transparent;
}

.react-flow__node-descNode.selected {
    border: 2px solid white;
    border-radius: 10px;
}

.descriptionNode_content {
    flex-grow: 1;
    padding: 1em;
    height: calc(100% - 2em);

    display: flex;
    flex-direction: column;
}

.descriptionNode_title {
    display: flex;
    height: 2em;
}

.descriptionNode_label {
    display: inline;
    color: #cccccc;
}

.descriptionNode_icon {
    display: inline;
    height: 1em;
    width: 1em;
    margin-right: 0.5em;
}

#action_buttons {
    margin-left: auto;
}

.descriptionNode_action {
    margin-left: 0.2em;
    height: 1em;
    width: 1em;
    padding: 0.1em;
    cursor: pointer;
    border-radius: 5px;
}

.descriptionNode_action:hover {
    outline: solid 1px#cccccc;
}

.descriptionNode textarea {
    flex-grow: 1;
    resize: none;
    color: #cccccc;
    border: none;
}

.descriptionNode .react-flow__handle {
    width: 0.5em;
    height: 0.5em;
}

.descriptionNode .react-flow__handle.react-flow__handle-top {
    background: blue;
}

.descriptionNode .react-flow__handle.react-flow__handle-bottom {
    background: red;
}