.dir_item_component_file_name0725 {
  /*POSITION*/
  display: flex;
  position: relative;

  /*FONT*/
  font-size: 14px;
  font-family: "Roboto";
  letter-spacing: 0pt;
  white-space: nowrap;
  color: #cccccc80;

  /*SIZE*/
  margin: 2px 0px 2px 0px;
  padding: 1px 0px 1px 6px;
  right: 0px;
  left: 0px;

  /*STYLE*/
  overflow: hidden;
}
.dir_item_component_file_name_on_selected0827 {
  transition: all 0.12s ease;

  /*POSITION*/
  display: flex;
  position: relative;

  /*FONT*/
  font-size: 14px;
  font-family: "Roboto";
  letter-spacing: 0pt;
  white-space: nowrap;
  color: #cccccc;

  /*SIZE*/
  margin: 2px 0px 2px 0px;
  padding: 1px 0px 1px 6px;
  right: 0px;
  left: 0px;

  /*STYLE*/
  background-color: #3c3c3c;
  border-radius: 5px;

  box-shadow: inset 0 0 0 1px #555555;
  overflow: hidden;
}
.dir_item_component_file_name0725:hover {
  transition: all 0.24s ease;

  background-color: #3c3c3c;
  border-radius: 7px 7px 2px 2px;
}
.dir_item_component_script_icon0725 {
  transition: all 0.08s ease;

  /*POSITION*/
  position: relative;

  left: -1px;
  top: 0.2px;
  height: 15px;
  width: 15px;
  border-radius: 1px;
}
.dir_item_component_file_icon_container0125 {
  transition: all 0.08s ease;

  /*POSITION*/
  position: relative;

  left: -1px;
  top: 0.2px;
  height: 15px;
  width: 15px;
  border-radius: 1px;
}
.dir_item_component_arrow_icon_right0725 {
  transition: all 0.08s ease;

  /*POSITION*/
  position: relative;

  left: -3.5px;
  top: 0px;
  height: 16px;
  width: 16px;
}
.dir_item_component_arrow_icon_right_no_animation1018 {
  /*POSITION*/
  position: relative;

  left: -3.5px;
  top: 0px;
  height: 16px;
  width: 16px;
}
.dir_item_component_arrow_icon_down0725 {
  transition: all 0.08s ease;

  /*POSITION*/
  position: relative;

  left: -3.5px;
  top: 0px;
  height: 16px;
  width: 16px;

  transform: rotate(90deg);

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dir_item_component_arrow_icon_down_no_animation1018 {
  transition: all 0.08s ease;

  /*POSITION*/
  position: relative;

  left: -3.5px;
  top: 0px;
  height: 16px;
  width: 16px;

  transform: rotate(90deg);

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dir_item_component_unexpendable_arrow_icon_right0826 {
  /*POSITION*/
  position: relative;

  left: -3.5px;
  top: 0px;
  height: 16px;
  width: 16px;

  opacity: 0.32;
}
.dir_item_component_dir_list0725 {
  transition: background-color 0.32s ease, border-left 0.08s ease;
  /*POSITION*/
  position: relative;
  right: 0px;

  /*SIZE*/
  padding: 0px;
  margin: 0px 0px 0px 11px;

  /*STYLE*/
  list-style: none;
  border-left: #4d4d4d solid 1px;
}
.dir_item_component_dir_list_on_hover0304 {
  transition: background-color 0.32s ease, border-left 0.08s ease;
  /*POSITION*/
  position: relative;
  right: 0px;

  /*SIZE*/
  padding: 0px 0px 0px 11px;
  margin: 0px 0px 0px 0px;

  /*STYLE*/
  list-style: none;
  background-color: #2b2b2b;
  border-left: #2b2b2b solid 1px;
  border-radius: 3px 3px 7px 7px;
}
.dir_item_component_dir_list0725 li {
  /*POSITION*/
  position: relative;
  right: 0px;
  left: 0px;

  /*SIZE*/
  padding: 0px 0px 0px 0px;

  /*STYLE*/
  list-style: none;
}
.dir_item_component_input_box0803 {
  transition: all 0.08s ease;

  /*POSITION*/
  display: flex;
  position: relative;
  left: 0px;

  /*FONT*/
  font-size: 14px;
  font-family: "Roboto";
  letter-spacing: 0px;
  white-space: nowrap;
  color: #cccccc;

  /*SIZE*/
  /* padding: 0pt 0pt 0pt 4pt;
  margin: 0pt 0pt 0pt 2pt; */

  /*STYLE*/
  background-color: #2a2d2e;
  border-radius: 2px;
  border: none;
  outline: none;
  overflow: hidden;

  box-shadow: inset 0 0 0 1px #0d66ac;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dir_item_component_input_box_shake0826 {
  transition: all 0.08s ease;

  /*POSITION*/
  display: flex;
  position: relative;
  left: 0px;

  /*FONT*/
  font-size: 14px;
  font-family: "Roboto";
  letter-spacing: 0px;
  white-space: nowrap;
  color: #cccccc;

  /*SIZE*/
  /* padding: 0pt 0pt 0pt 4pt;
  margin: 0pt 0pt 0pt 2pt; */

  /*STYLE*/
  background-color: #2a2d2e;
  border-radius: 6px;
  border: none;
  outline: none;
  overflow: hidden;

  box-shadow: inset 0 0 0 1px #0d66ac;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  animation: dir_item_component_input_box_shake_aniamtion 0.16s ease-in-out;
}
@keyframes dir_item_component_input_box_shake_aniamtion {
  0% {
    transform: translateX(0px);
  }
  12.5% {
    transform: translateX(4px);
  }
  25% {
    transform: translateX(0px);
  }
  37.5% {
    transform: translateX(-4px);
  }
  50% {
    transform: translateX(0px);
  }
  62.5% {
    transform: translateX(4px);
  }
  75% {
    transform: translateX(0px);
  }
  87.5% {
    transform: translateX(-4px);
  }
  100% {
    transform: translateX(0px);
  }
}
.dir_item_component_input_box0803:focus {
  outline: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
