#web_logo_section_component_container0725 {
  /*POSITION*/
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /*SIZE*/
  width: 100%;
}
#web_logo_section_component_logo_icon0725 {
  transition: all 0.64s ease;

  /*POSITION*/
  display: flex;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;

  /*FONT*/
  font-size: 30pt;
  font-family: Koulen;
  font-weight: 500;
  color: #cccccc;

  /*SIZE*/
  height: 50pt;
  width: 34pt;

  /*STYLE*/
  padding: 2pt 10pt 0pt 10.25pt;
  border-radius: 8pt;
  background-color: #1f1f1f;
  box-shadow: 0px 4px 16px 8px rgba(0, 0, 0, 0.2);

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#web_logo_section_component_logo_icon_centered0725 {
  /*POSITION*/
  display: flex;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  align-items: center;
  justify-content: center;

  /*FONT*/
  font-size: 30pt;
  font-family: Koulen;
  font-weight: 500;
  color: #cccccc;

  /*SIZE*/
  height: 50pt;
  width: 34pt;

  /*STYLE*/
  padding: 2pt 10pt 0pt 10.25pt;
  border-radius: 8pt;
  background-color: #1f1f1f;
  box-shadow: 0px 4px 16px 8px rgba(0, 0, 0, 0.2);

  animation-timing-function: linear;
  animation: web_logo_section_component_logo_icon_centered_animation 1.6s;
  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@keyframes web_logo_section_component_logo_icon_centered_animation {
  0% {
    transform: translate(-50%, -50%);
  }
  60% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-50%, 0%);
  }
}
#web_logo_section_component_logo_title_container0725 {
  /*POSITION*/
  display: flex;
  position: absolute;
  top: 48pt;
  left: 50%;

  transform: translate(-50%, -50%);

  /*FONT*/
  font-size: 22pt;
  font-family: Koulen;
  color: #181818;
  white-space: nowrap;

  /*SIZE*/
  height: 29pt;
  min-width: 0pt;
  max-width: 98%;

  /*STYLE*/
  padding: 3pt 0pt 0pt 0pt;
  border-radius: 4pt;
  background-color: #eef232;
  outline: none;
  border: 0px;
}
#web_logo_section_component_logo_title_container0725:focus {
  /*POSITION*/
  display: flex;
  position: absolute;
  top: 48pt;
  left: 50%;

  transform: translate(-50%, -50%);

  /*FONT*/
  font-size: 22pt;
  font-family: Koulen;
  color: #181818;
  white-space: nowrap;

  /*SIZE*/
  height: 29pt;
  min-width: 0pt;
  max-width: 98%;

  /*STYLE*/
  padding: 3pt 0pt 0pt 0pt;
  border-radius: 4pt;
  background-color: #eef232;
  outline: none;
  border: 0px;
}
#web_logo_section_component_logo_title_container_hided0725 {
  /*POSITION*/
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  align-items: center;
  text-align: center;
  justify-content: center;

  /*FONT*/
  font-size: 24pt;
  font-family: Koulen;
  color: #181818;
  white-space: nowrap;

  /*SIZE*/
  height: 12pt;
  min-width: 0pt;
  width: 0pt;
  max-width: 98%;

  /*STYLE*/
  padding: 4pt 8pt 0pt 8pt;
  border-radius: 12pt;
  background-color: #eef232;
  outline: none;
  border: 0px;
  caret-color: transparent;
  opacity: 0;

  overflow: hidden;
  animation-timing-function: linear;
  animation: web_logo_section_component_logo_title_container_hided_animation
    1.6s;
}
@keyframes web_logo_section_component_logo_title_container_hided_animation {
  0% {
    top: 48pt;
    width: 4pt;
    height: 12pt;
    border-radius: 12pt;
    opacity: 1;
  }
  10% {
    top: 48pt;
    width: 0pt;
    height: 12pt;
  }
  40% {
    top: 48pt;
    width: 0pt;
  }
  60% {
    top: 48pt;
    width: 0pt;
  }
  80% {
    top: 50%;
    width: 0pt;
    opacity: 1;
  }
  100% {
    top: 50%;
    width: 0pt;
    opacity: 0;
    visibility: hidden;
  }
}
#web_logo_section_component_shadow_affect0725 {
  /*POSITION*/
  position: absolute;
  transform: translate(-50%, 0%);
  top: 67pt;
  left: 50%;

  /*FONT*/
  font-size: 9pt;
  font-family: Koulen;
  color: #eef232;

  /*SIZE*/
  width: 230px;
  height: 18px;

  /*STYLE*/
  background-image: linear-gradient(
    0deg,
    rgba(24, 24, 24, 0.16) 0%,
    rgba(24, 24, 24, 0.96) 100%
  );
}
#web_logo_section_component_shadow_affect_hided0725 {
  /*POSITION*/
  position: absolute;
  transform: translate(-50%, 0%);
  top: 0pt;
  left: 50%;

  /*FONT*/
  font-size: 9pt;
  font-family: Koulen;
  color: #eef232;

  /*SIZE*/
  width: 230px;
  height: 18px;

  /*STYLE*/
  background-image: linear-gradient(
    0deg,
    rgba(24, 24, 24, 0.16) 0%,
    rgba(24, 24, 24, 0.96) 100%
  );
  visibility: hidden;
  animation-timing-function: linear;
  animation: web_logo_section_component_shadow_affect_hided_animation 0.25s;
}
@keyframes web_logo_section_component_shadow_affect_hided_animation {
  0% {
    top: 67pt;
  }
  20% {
    top: 67pt;
  }
  40% {
    top: 67pt;
  }
  60% {
    top: 67pt;
  }
  80% {
    top: 10pt;
  }
  100% {
    top: 0pt;
    visibility: hidden;
  }
}
#web_logo_section_component_logo_subtitle0725 {
  /*POSITION*/
  transform: translate(-50%, 0%);
  position: absolute;
  top: 66pt;
  left: 50%;

  /*FONT*/
  font-size: 10pt;
  font-family: Koulen;
  font-weight: thin;
  letter-spacing: 0.72pt;
  white-space: nowrap;
  color: #eef232;

  /*SIZE*/
  min-width: 0pt;
  max-width: 98%;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#web_logo_section_component_logo_subtitle_hided0725 {
  /*POSITION*/
  transform: translate(-50%, 0%);
  position: absolute;
  top: 0pt;
  left: 50%;

  /*FONT*/
  font-size: 10pt;
  font-family: Koulen;
  font-weight: thin;
  letter-spacing: 0.64pt;
  white-space: nowrap;
  caret-color: transparent;

  /*SIZE*/
  width: 54pt;
  overflow: hidden;
  color: #eef232;
  animation-timing-function: linear;
  animation: web_logo_section_component_logo_subtitle_hided_animation 0.25s;

  opacity: 0;
}
@keyframes web_logo_section_component_logo_subtitle_hided_animation {
  0% {
    width: 0pt;
    top: 66pt;
  }
  20% {
    width: 0pt;
    top: 66pt;
  }
  40% {
    width: 0pt;
    top: 66pt;
  }
  60% {
    width: 0pt;
    top: 66pt;
  }
  80% {
    width: 0pt;
    top: 10pt;
  }
  100% {
    top: 0pt;
    visibility: hidden;
  }
}
