.contextItem_component_container0802 {
  /*POSITION*/
  display: flex;
  position: relative;

  /*SIZE*/
  padding: 5px 6px 5px 14px;
  right: 0px;
  left: 0px;

  /*STYLE*/
  border-radius: 5px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  animation-timing-function: linear;
  animation: contextItem_component_container_expand_animation 0.12s;
}
.contextItem_component_container0802:hover {
  /*POSITION*/
  display: flex;
  position: relative;

  /*SIZE*/
  padding: 5px 6px 5px 14px;
  right: 0px;
  left: 0px;

  /*STYLE*/
  background-color: #2a2d2e;
  border-radius: 5px;
  box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.12);

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.contextItem_component_container_unclickable0826 {
  /*POSITION*/
  display: flex;
  position: relative;

  /*FONT*/
  font-size: 10px;
  font-family: "Roboto";
  letter-spacing: 0px;
  white-space: nowrap;
  color: #cccccc;

  /*SIZE*/
  padding: 5px 6px 5px 16px;
  right: 0px;
  left: 0px;

  /*STYLE*/
  border-radius: 2px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  animation-timing-function: linear;
  animation: contextItem_component_container_expand_animation 0.16s;
}
@keyframes contextItem_component_container_expand_animation {
  0% {
    height: 0px;
    opacity: 0;
  }
  40% {
    opacity: 0.2;
  }
  45% {
    height: 14px;
  }
  100% {
    height: 16px;
    opacity: 1;
  }
}
.contextItem_component_label0802 {
  /*POSITION*/
  display: flex;
  position: relative;
  top: 3px;

  /*FONT*/
  font-size: 12px;
  font-family: "Roboto";
  letter-spacing: 0pt;
  white-space: nowrap;
}
.contextItem_component_copyfile_label0827 {
  /*POSITION*/
  display: flex;
  position: relative;
  top: 3px;
  left: 6px;
  right: 4px;

  /*FONT*/
  font-size: 12px;
  font-family: "Roboto";
  letter-spacing: 0px;
  white-space: nowrap;
  color: #8c8c8c;

  overflow: hidden;
  opacity: 0.64;
}
.contextItem_component_icon0802 {
  transition: all 0.08s ease;

  /*POSITION*/
  position: relative;

  /*SIZE*/
  left: 0px;
  top: 0px;
  height: 16px;
  width: 16px;

  pointer-events: none;
}
.contextItem_component_br0802 {
  border-top: 1px solid #3a3a3a;
  border-bottom: 0px solid #3a3a3a;
  border-right: 0px solid #3a3a3a;
  border-left: 0px solid #3a3a3a;
  margin: 12px 0px 13px 0px;
}
.contextItem_blur_loader0827 {
  /*POSITION*/
  display: flex;
  position: relative;

  /*SIZE*/
  left: -8px;
  top: 0pt;
  height: 16px;
  width: 16px;

  /*STYLE*/
  background-position: center;
  background-size: cover;
}
.contextItem_component_more_options_icon1119 {
  transition: all 0.08s ease;

  /*POSITION*/
  position: absolute;
  top: -4px;
  right: -6px;

  /*SIZE*/
  height: 15px;
  width: 15px;
}
.contextItem_more_options_blur_loader1119 {
  transition: all 0.08s ease;

  /*POSITION*/
  position: absolute;

  /*SIZE*/
  right: 9.5px;
  top: 9.5px;
  width: 16px;
  width: 16px;

  opacity: 0.64;
}
