#monitor_component_container0728 {
  /*TRANSITION*/

  /*POSITION*/
  position: absolute;
  transform: translate(-50%, 0%);
  left: 50%;

  /*SIZE*/
  width: 100%;
  min-width: 200pt;
  height: 100%;

  /*STYLE*/
  border-radius: 0pt;
  /*border: 1px solid #ffffff;*/
  box-sizing: border-box;
  overflow: hidden;

  user-select: none;
}
#monitor_component_resizer0919 {
  /*TRANSITION*/

  /*POSITION*/
  position: absolute;
  top: 4pt;
  bottom: 4pt;
  right: 0pt;

  /*SIZE*/

  /*STYLE*/
}
#monitor_component_visual_resizer0919 {
  /*TRANSITION*/

  /*POSITION*/
  position: absolute;
  top: 0pt;
  bottom: 0pt;
  right: 58pt;

  /*SIZE*/
  width: 5pt;

  /*STYLE*/
  background-color: #1f1f1f;
  border-radius: 2pt;
  cursor: col-resize;
}
#monitor_component_visual_resizer0919:hover {
  /*TRANSITION*/
  transition: all 0.2s ease-in-out 0s;

  /*POSITION*/
  position: absolute;
  top: 0pt;
  bottom: 0pt;
  right: 58pt;

  /*SIZE*/
  width: 5pt;

  /*STYLE*/
  background-color: #2e2e2e;
  cursor: col-resize;
  border-radius: 2pt;
}
#monitor_component_visual_resizer0919:active {
  /*TRANSITION*/
  transition: all 0.2s ease-in-out 0s;

  /*POSITION*/
  position: absolute;
  top: 0pt;
  bottom: 0pt;
  right: 58pt;

  /*SIZE*/
  width: 5pt;

  /*STYLE*/
  background-color: #0d66ac;
  cursor: col-resize;
  border-radius: 2pt;
}
