/* Chat_Box Container ----------------------------------------------------------------------- */
.chat_box_component_container0202 {
  /*TRANSITION*/
  transition: all 0.2s ease;

  /*POSITION*/
  position: absolute;
  transform: translate(-50%, 0%);
  left: 50%;
  bottom: 0px;
  top: 0px;

  /*SIZE*/
  width: 300px;
}

/* Input Bar ============================================================== */
.input_bar_component_container0724 {
  /*POSITION*/
  position: absolute;
  transform: translate(-50%, 0%);
  left: 50%;
  bottom: 0px;

  /*SIZE*/
  width: 100%;
}

/* PlaceHolder */
.input_bar_component_placeholder_showed0724 {
  /*TRANSITION*/
  transition: all 0.12s ease;

  /*POSITION*/
  position: absolute;
  transform: translate(0%, 0%);
  left: 6px;
  right: 41px;
  bottom: 3px;
  overflow: hidden;

  /*FONT*/
  font-size: 13px;
  line-height: 24px;
  font-family: Consolas, monaco, monospace;
  color: #cccccc;
  opacity: 0.5;
  white-space: nowrap;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  pointer-events: none;
}
.input_bar_component_placeholder_hided0724 {
  /*TRANSITION*/
  transition: all 0.12s ease;

  /*POSITION*/
  position: absolute;
  transform: translate(0%, 0%);
  left: 6px;
  right: 41px;
  bottom: 9px;
  overflow: hidden;

  /*FONT*/
  font-size: 13px;
  line-height: 24px;
  font-family: Consolas, monaco, monospace;
  color: #cccccc;
  opacity: 0;
  white-space: nowrap;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  pointer-events: none;
}
.input_bar_component_placeholder_shake0724 {
  /*TRANSITION*/
  transition: all 0.12s ease;

  /*POSITION*/
  position: absolute;
  transform: translate(0%, 0%);
  left: 6px;
  right: 41px;
  bottom: 3px;
  overflow: hidden;

  /*FONT*/
  font-size: 13px;
  line-height: 24px;
  font-family: Consolas, monaco, monospace;
  color: #cccccc;
  opacity: 0.5;
  white-space: nowrap;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  pointer-events: none;

  animation-timing-function: linear;
  animation: input_bar_component_placeholder_shake_animation 0.25s;
}
@keyframes input_bar_component_placeholder_shake_animation {
  0%,
  40%,
  80% {
    left: 9px;
  }
  20%,
  60%,
  100% {
    left: 3px;
  }
}

/* Textarea */
.input_bar_component_textarea_autosize0724 {
  /*TRANSITION*/
  transition: height 0.16s ease;
  position: absolute;
  left: 0px;
  right: 35px;
  bottom: 0px;

  /*FONT*/
  text-align: left;
  box-sizing: border-box;
  line-height: 18px;
  min-height: 18px;

  /*STYLE*/
  border: 0px;
  outline: none;

  resize: none;
}
.input_bar_component_textarea_autosize0724::-webkit-scrollbar {
  width: 6px;
}
.input_bar_component_textarea_autosize0724::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
}
.input_bar_component_textarea_autosize0724::-webkit-scrollbar-thumb {
  background: #444444;
  border-radius: 4px;
}
.input_bar_component_textarea_autosize0724::-webkit-scrollbar-thumb:hover {
  background: #494d53;
  border-radius: 4px;
}
.input_bar_component_textarea_autosize0724::-webkit-scrollbar-corner {
  background: transparent;
}
.input_bar_component_textarea_autosize0724:focus {
  transition: height 0.16s ease;

  border: 0px;
  outline: none;
}
.input_bar_component_textarea_autosize_shake0724 {
  /*TRANSITION*/
  transition: height 0.16s ease;
  position: absolute;
  left: 0px;
  right: 36px;
  bottom: 0px;

  /*FONT*/
  text-align: left;
  box-sizing: border-box;
  line-height: 18px;
  min-height: 18px;

  /*STYLE*/
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  outline: none;

  resize: none;

  animation-timing-function: linear;
  animation: input_bar_component_textarea_autosize_shake_animation 0.25s;
}
@keyframes input_bar_component_textarea_autosize_shake_animation {
  0%,
  40%,
  80% {
    left: 3px;
    right: 33px;
  }
  20%,
  60%,
  100% {
    left: -3px;
    right: 39px;
  }
}

/* Send Button */
.input_bar_component_send_button0724 {
  /*TRANSITION*/
  transition: all 0.08s ease;

  /*POSITION*/
  position: absolute;
  bottom: 0px;
  right: 0px;

  /*SIZE*/
  height: 12px;
  width: 12px;

  /*STYLE*/
  border-radius: 5px;
  padding: 9px;
  background-color: #323232;
  box-shadow: 0px 4px 12px 4px rgba(0, 0, 0, 0.16);
}
.input_bar_component_send_button0724:hover {
  transition: all 0.2s ease;

  /*STYLE*/
  background-color: #5c5c5c;
  box-shadow: 0px 4px 12px 4px rgba(0, 0, 0, 0.16);
}
.input_bar_component_send_button0724:active {
  transition: all 0.12s ease;

  /*STYLE*/
  background-color: #838383;
}
/* Input Bar ============================================================== */

/* Text Boxes ----------------------------------------------------------------------------- */
.text_boxes_component_container0202 {
  /*TRANSITION*/
  transition: all 0.2s ease;

  /*POSITION*/
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 35px;
  width: 100%;

  /*STYLE*/
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;

}
.text_boxes_component_container0202::-webkit-scrollbar {
  width: 6px;
}
.text_boxes_component_container0202::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
}
.text_boxes_component_container0202::-webkit-scrollbar-thumb {
  background: #2f3133;
  border-radius: 4px;
}
.text_boxes_component_container0202::-webkit-scrollbar-thumb:hover {
  background: #494d53;
  border-radius: 4px;
}
.text_boxes_component_container0202::-webkit-scrollbar-corner {
  background: transparent;
}
.reply_text_box_component_container0202 {
  /*TRANSITION*/
  transition: all 0.2s ease;

  /*POSITION*/
  position: relative;

  /*STYLE*/
  display: block;
  text-align: left;
  color: #929292;
  border-radius: 0px 5px 5px 5px;
  font-size: 13px;
  padding: 8px;
  margin: 6px;
  background: #252525;
  overflow-wrap: break-word;

  overflow: hidden;
}
.send_text_box_component_container0202 {
  /*TRANSITION*/
  transition: all 0.2s ease;

  /*POSITION*/
  position: relative;

  /*STYLE*/
  display: block;
  text-align: right;
  color: #929292;
  border-radius: 5px 0px 5px 5px;
  font-size: 13px;
  padding: 8px;
  margin: 6px;
  background: #1b1b1b;
  overflow-wrap: break-word;

  overflow: hidden;
}
/* Text Boxes ----------------------------------------------------------------------------- */