/* Ghost Drag Image ================================================= */
.ghost_drag_image_container0207 {
  /*POSITION*/
  transform: translate(-50%, -72%);
  position: fixed;
  height: 24px;

  /*STYLE*/
  background-color: #323232;
  color: white;

  border-radius: 6px;
  margin: 0px 0px 5px 0px;
  pointer-events: none;
  z-index: 12;
}
.ghost_drag_image_filetype_label0207 {
  /*POSITION*/
  position: absolute;
  transform: translate(0%, -50%);
  top: 47%;
  left: 12px;
  padding: 0px 0px 0px 0px;

  /*SIZE*/
  font-size: 13px;
  color: #cccccc;

  pointer-events: none;
  opacity: 1;
}
/* Ghost Drag Image ================================================ */
