body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #181818;
  overflow-y: hidden;
  overflow-x: scroll;
}
body::-webkit-scrollbar {
  height: 0px;
}
body::-webkit-scrollbar-track {
  border-radius: 0px;
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background: #3a3a3a;
  background: transparent;
}
body::-webkit-scrollbar-thumb:hover {
  border-radius: 0px;
  background: #4d4d4d;
  background: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
