body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #111111;
  overflow-y: hidden;
  overflow-x: scroll;
}
body::-webkit-scrollbar {
  height: 6px;
}
body::-webkit-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #3a3a3a;
}
body::-webkit-scrollbar-thumb:hover {
  border-radius: 4px;
  background: #4d4d4d;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
