.main_container0315 {
  /* POSITION */
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;

  /* STYLE */
  background-color: #181818;
  border-radius: 16px;
  border: 1px solid #303030;
  box-sizing: border-box;
  overflow-y: hidden;
  overflow-x: scroll;
}
.main_container0315::-webkit-scrollbar {
  height: 0px;
}
.major_content_container0316 {
  transition: top 0.32s;
  /* POSITION */
  position: absolute;
  left: 0px;
  bottom: 0px;
}
